ClickBlocksClient/Connected Services/ServiceReference/ClickBlocksService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="ClickBlocks" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="ClickBlocks" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="ClickBlocks/Imports">
      <xsd:import schemaLocation="http://localhost:54423/ClickBlocksService.svc?xsd=xsd0" namespace="ClickBlocks" />
      <xsd:import schemaLocation="http://localhost:54423/ClickBlocksService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54423/ClickBlocksService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClickBlocksServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClickBlocksService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IClickBlocksService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IClickBlocksService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IClickBlocksService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IClickBlocksService_UploadPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadPoints" />
  </wsdl:message>
  <wsdl:message name="IClickBlocksService_UploadPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadPointsResponse" />
  </wsdl:message>
  <wsdl:message name="IClickBlocksService_UploadScore_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadScore" />
  </wsdl:message>
  <wsdl:message name="IClickBlocksService_UploadScore_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadScoreResponse" />
  </wsdl:message>
  <wsdl:message name="IClickBlocksService_GetRecordList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordList" />
  </wsdl:message>
  <wsdl:message name="IClickBlocksService_GetRecordList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordListResponse" />
  </wsdl:message>
  <wsdl:message name="IClickBlocksService_GetPeopleList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPeopleList" />
  </wsdl:message>
  <wsdl:message name="IClickBlocksService_GetPeopleList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPeopleListResponse" />
  </wsdl:message>
  <wsdl:portType name="IClickBlocksService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="ClickBlocks/IClickBlocksService/Login" message="tns:IClickBlocksService_Login_InputMessage" />
      <wsdl:output wsaw:Action="ClickBlocks/IClickBlocksService/LoginResponse" message="tns:IClickBlocksService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="ClickBlocks/IClickBlocksService/Register" message="tns:IClickBlocksService_Register_InputMessage" />
      <wsdl:output wsaw:Action="ClickBlocks/IClickBlocksService/RegisterResponse" message="tns:IClickBlocksService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadPoints">
      <wsdl:input wsaw:Action="ClickBlocks/IClickBlocksService/UploadPoints" message="tns:IClickBlocksService_UploadPoints_InputMessage" />
      <wsdl:output wsaw:Action="ClickBlocks/IClickBlocksService/UploadPointsResponse" message="tns:IClickBlocksService_UploadPoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadScore">
      <wsdl:input wsaw:Action="ClickBlocks/IClickBlocksService/UploadScore" message="tns:IClickBlocksService_UploadScore_InputMessage" />
      <wsdl:output wsaw:Action="ClickBlocks/IClickBlocksService/UploadScoreResponse" message="tns:IClickBlocksService_UploadScore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordList">
      <wsdl:input wsaw:Action="ClickBlocks/IClickBlocksService/GetRecordList" message="tns:IClickBlocksService_GetRecordList_InputMessage" />
      <wsdl:output wsaw:Action="ClickBlocks/IClickBlocksService/GetRecordListResponse" message="tns:IClickBlocksService_GetRecordList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPeopleList">
      <wsdl:input wsaw:Action="ClickBlocks/IClickBlocksService/GetPeopleList" message="tns:IClickBlocksService_GetPeopleList_InputMessage" />
      <wsdl:output wsaw:Action="ClickBlocks/IClickBlocksService/GetPeopleListResponse" message="tns:IClickBlocksService_GetPeopleList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>